.negro{
  background-color: black;
  color:white;
}
table{
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-spacing: 0;
}

td{
  width: 55px;
  height: 55px;
  text-align: center;
}
